body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:95px;
  width:140px;
  height:47px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:141px;
  width:1175px;
  height:48px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1171px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:726px;
  width:1175px;
  height:37px;
  text-align:left;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1171px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:70px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:63px;
  width:69px;
  height:70px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:34px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:100px;
  width:29px;
  height:33px;
  text-align:left;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:97px;
  width:141px;
  height:22px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:148px;
  width:257px;
  height:34px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:34px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:152px;
  width:55px;
  height:26px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:590px;
  width:1175px;
  height:122px;
  text-align:left;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1171px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:22px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:199px;
  width:166px;
  height:22px;
  font-size:9px;
  text-align:left;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:162px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:95px;
  width:140px;
  height:47px;
  text-align:left;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:239px;
  width:140px;
  height:127px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:136px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:393px;
  width:140px;
  height:113px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:136px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:300px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:239px;
  width:463px;
  height:300px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
